<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>960152891906-b3p6ponbd9nn5749okri36kllr92pvb7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.960152891906-b3p6ponbd9nn5749okri36kllr92pvb7</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>960152891906-ke87kf88hpfuti7c0lh9fo54mijvdtas.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCM6Va47sBgjN5z6NV80lz7s9OyR_aewkc</string>
	<key>GCM_SENDER_ID</key>
	<string>960152891906</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.broseph.ibk</string>
	<key>PROJECT_ID</key>
	<string>gastrosoft-bcb27</string>
	<key>STORAGE_BUCKET</key>
	<string>gastrosoft-bcb27.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:960152891906:ios:c18dd418e869e26aacad1b</string>
</dict>
</plist>